{% extends "base.html" %}

{% block content %}

<div class="container">

    <h1>📖 Story Planner</h1>

    <p>
        <strong>Project</strong><br>
        {{ project.name }}
    </p>

    <hr>

    {% include "projects/components/story_editor.html" %}
    
    {% include "projects/components/expanded_story_editor.html" %}

    {% include "projects/components/scenes_editor.html" %}

    {% include "projects/components/story_scripts.html" %}

    <hr>

    <a href="/projects/{{ project.slug }}">
        ← Back to Project
    </a>

</div>

{% endblock %}
